<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="consumerTopic" value="results"/>
    <add key="producerTopic" value="products"/>
    <add key="bootstrapServers" value="kafka:9093"/>
    <add key="consumerGroupId" value="mainConsumer"/>
  </appSettings>
</configuration>