<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="consumerTopic" value="products"/>
    <add key="producerTopic" value="results"/>
    <add key="bootstrapServers" value="localhost:9092"/>
    <add key="consumerGroupId" value="defaultConsumer"/>
  </appSettings>
</configuration>